In [1]:
## Variables Dummies
import pandas as pd
import os
import numpy as np

In [10]:
df=pd.read_csv("./Datos/Hidroponia_original.csv",index_col=0,encoding="ISO-8859-1")

In [11]:
df.head()

                  pH          EC Hortaliza Sistema Duracion_Ciclo
Cultivo
Brócoli     6 to 6.8  2.8 to 3.5      Flor     NFT           70-90
Calabacita         6  1.8 to 2.4     Fruto   Goteo              45
Pepino      5 to 5.5    1.7 to 2     Fruto   Goteo           70-80
Pimientos   5.5 to 6  0.8 to 1.8     Fruto   Goteo              65
fresa              6  1.8 to 2.2     Fruto     NFT         120-150

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Brócoli to Cebollín
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pH               15 non-null     object
 1   EC               15 non-null     object
 2   Hortaliza        15 non-null     object
 3   Sistema          15 non-null     object
 4   Duracion_Ciclo   15 non-null     object
dtypes: object(5)
memory usage: 720.0+ bytes

In [13]:
df.Hortaliza.unique()

array(['Flor', 'Fruto', 'Hoja', 'Raiz', 'Tallo'], dtype=object)

In [14]:
df.Hortaliza.nunique()

5

In [15]:
df["Hortaliza"].value_counts()

Hoja     6
Fruto    5
Raiz     2
Flor     1
Tallo    1
Name: Hortaliza, dtype: int64

In [16]:
df.Hortaliza.unique()[0]

'Flor'

In [19]:
df["Hortaliza"+df.Hortaliza.unique()[0]]=\
np.where(df["Hortaliza"]==df.Hortaliza.unique()[0],1,0)

In [20]:
df.describe().T

               count      mean       std  min  25%  50%  75%  max
HortalizaFlor   15.0  0.066667  0.258199  0.0  0.0  0.0  0.0  1.0

In [21]:
df["Hortaliza"+df.Hortaliza.unique()[0]].sum()

1